<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Просмотр темы</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table style="width:100%">
            <tr th:each="mess: ${messages}">
                <td th:text="${mess.created}" />
                <td th:text="${mess.author.name}" />
                <td th:text="${mess.text}" />
            </tr>
        </table>
    </body>
</html>
